main {
    background-color: $secondary_color;
    min-height: calc(100vh - 40px);
}

.genre {
    @include flex-justify(center);
    padding: 50px 0;
}

.songs {
    @include flex-justify(center);
    flex-wrap: wrap;
}

.card {
    background-color: $primary_color;
    @include flex-column-justify(space-between);
    max-width: 180px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.img-name {
    img {
        width: 150px;
        border-radius: 3px;
    }

    h4 {
        padding: 10px 0 10px 0;
        @include font-color(16px, white);
    }
}

.info-songs {
    p {
        @include font-color(14px, $third_color);
    }

    span {
        @include font-color(12px, $fourth_color);
    }
}
